body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

nav {
    margin-right: 20px;
}

nav ul {
    padding: 20px;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    background-color: #42444E;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation h2 {
    margin-left: 60px;
    line-height: 50px;
}

.content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

.content img {
    margin: 0 auto;
    width: 500px;
}